<!DOCTYPE html>
<html>
  <head>
    <title>{{ site_title }}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/uikit.min.css" />
        <script src="/js/uikit.min.js"></script>
        <script src="/js/uikit-icons.min.js"></script>
  </head>
  <body>

      {#        {% include "header.html" ignore missing %} #}

    <div uk-grid class="uk-padding-small">
        <div class="uk-width-1-1@m">{% include "header.html" %} </div>
        <div class="uk-width-1-6@m">{% include "sidebar.html" %} </div>
        <div class="uk-width-5-6@m uk-background-muted">{% block content %} {% endblock %}</div>
        <div class="uk-width-1-1@m">{% include "footer.html" %} </div>
    </div>

    {#    {% include "footer.html" %} #}

  </body>
</html>

