{% extends "base.html" %}
{% block content %}

    <div>
        <!--      <div class="uk-h3">{{galleries[slug].name}}</div> -->

      {#<div class="uk-grid-small uk-text-center" uk-grid="masonry: true">
      {% for image in gallery.images %}
         <div>
             <div class="uk-card uk-card-small uk-card-hover uk-card-media-top"><img data-src="images/{{image}}" width="240" height="" uk-img> </div>
         </div>
      {% endfor %}
      </div>
      #}

      <!--<div uk-slideshow class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1"> -->
      <div uk-slideshow class="uk-visible-toggle uk-light">
         <ul uk-lightbox class="uk-slideshow-items">

      {% for k, v in galleries[slug].items() %}
        {% if k=="images" %}
          {% for name, image in v.items() %}
           <li>
               {#<a href="/{{slug}}/images/{{image}}"><img data-src="/{{slug}}/images/{{image}}" class="uk-height-1-1" uk-cover uk-img alt="{{image.title}}"></a> #}
               <a href="/{{slug}}/images/{{name}}"><img data-src="/{{slug}}/images/{{name}}" class="uk-height-1-1" uk-cover uk-img alt="{{image.title}}"></a>
           </li>
          
          {% endfor %}
        {% endif %}
      {% endfor %}

         </ul>
         {#         <a class="uk-slidenav-large uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
         <a class="uk-slidenav-large uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a> #}

      </div>

    </div>

{% endblock %}
